header {
    text-align: center;
    padding: 4% 0 3% 0;
    background-color: #0C356A;
    color: #FFC436;
}

main {
    padding: 3% 12% 3% 12%;
    background-color: #FFF0CE;
}

.first, .second, .third {
    padding: 2% 12% 2% 12%;
}



